body{
    background-color:  #EDF3F8;

}

.container {
    width: 80%;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color:  grey;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}



.bt-1{
    width: 173px;
    height: 48px;
    box-shadow: 10px 10px 25px -10px #36536B40;
    background-color:  #BA4270;
    color: white;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 25px;
   
}
.img-2{
    width: 546px;
    margin-left: 800px;
    margin-top: -350px;
}

.h2-1{
    font-size: 72px;
    margin-top: 60px;
   
}

.container-2{
    width: 1519px;
    height: 472px;
    background-color:  #1B262F;
    


}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.h2-2{
    color: white;
    font-size: 48px;
    margin-left: 165px;
    margin-top: 100px;
    position: absolute;
}

.p-2{
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 15px;
    margin-left: 165px;
    margin-top: 230px;
    position: absolute;

}

.bt-2{
    border: 2px solid white;
    color: white;
    background-color: #1B262F;
    width: 129px;
    height: 48px;
    border-radius: 25px;
    margin-left: 165px;
    margin-top: 350px;


}

.img-11{
    margin-left: 500px;
    margin-top: 200px;
    position: absolute;
}
.img-22{
    margin-left:700px ;
    position: absolute;
    margin-top: 195px;
}
.img-33{
    margin-left: 900px;
    position: absolute;
    margin-top: 200px;
}

.img-44{
    margin-left: 500px;
    position: absolute;
    margin-top: 300px;
}
.img-55{
    margin-left: 700px;
    position: absolute;
    margin-top: 300px;
}
.img-66{
    margin-left: 900px;
    position: absolute;
    margin-top: 300px;
}

.img-77{
    margin-left: 165px;
    margin-top: 100px;
}
.h2-3{
    color: black;
    font-size: 48px;
    margin-left: 1000px;
    margin-top: -300px;
}
.p-3{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: grey;
    margin-left: 1000px;
    margin-top: 20px;
}
.img-88{
    margin-left: 200px;
}
.xz{
    margin-top: 300px;
    margin-left: 100px;
}
.h2-4{
    margin-left: 140px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}
.p-4{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 20px;
}



.img-99{
    margin-left: 200px;
}
.xz-2{
    margin-top: 300px;
    position: absolute;
    margin-left: 500px;
    margin-top: -250px;
}
.h2-5{
    margin-left: 140px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}
.p-5{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 20px;
}






.img-100{
    margin-left: 200px;
}
.xz-3{
    margin-top: 300px;
    position: absolute;
    margin-left: 900px;
    margin-top: -250px;
}
.h2-6{
    margin-left: 140px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}
.p-6{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 20px;
}



.footer{
    
        width: 1519px;
        height: 100px;
        background-color:  #1B262F;
        margin-top: 100px;
        
    
    
    
}

@media (max-width: 768px) {
    .img-1{
        width: 100px;
        /* position: relative; */
        left: -50px;

    }
    .a-1{
        font-size: 10px;
        /* position: relative; */
        left: -330px;
    }
    .a-2{
        font-size: 10px;
        /* position: relative; */
        left: -330px;
    }

    .a-3{
        font-size: 10px;
        /* position: relative; */
        left: -330px;
    }

    .bt-1{
        width: 50px;
        height: 20px;
        box-shadow: 10px 10px 25px -10px #36536B40;
        background-color:  #BA4270;
        color: white;
        font-family: "Roboto", sans-serif;
        border: none;
        border-radius: 25px;
        font-size: 5px;

        /* position: relative; */
        /* left: -330px; */
       
    }
   .img-2{
    width: 200px;
    position: relative;
    left: -550px;
    top: -50px;

   }
   .h2-1{
    font-size: 20px;
    margin-top: 260px;
    /* position: absolute */
    margin-left: 270px;
    color:  #36536B;
   white-space: nowrap;


    ;
   }

   .container-2{
    width: 900px;
   }
   .h2-2{
    font-size: 40px;
    margin-top: 250px;
    margin-left: 250px;
   }

   .p-2{
    color:  #FBFCFE;
    font-size: 10px;
    margin-left: 280px;
    margin-top: 330px;
   }
   .bt-2{
    margin-left: 350px;
    margin-top: 400px;
   }

   .img-11{
    position: relative;
    left: -350px;
    top: -570px;
   }
   .img-22{
    position: relative;
    left: -350px;
    top: -790px;

   }
   .img-33{
    position: relative;
    left: -350px;
    top: -1020px;
   }
   .img-44{
    position: relative;
    left: -350px;
    top: -1250px;
   }

   .img-55{
    position: relative;
    left: -350px;
    top: -1575px;
   }

   .img-66{
    position: relative;
    left: -350px;
    top: -1910px;
   }
   .h2-3{
    white-space: nowrap;
    position: relative;
    left: -750px;
    top: 220px;
   }
   .p-3{
    white-space: nowrap;
    position: relative;
    top: 240px;
    left: -750px;
   }
   .xz{
    position: relative;
    left: -100px;
   }
   .h2-4{
    font-size: 18px;
    position: relative;
    left: -50px;
   }
   .img-88{
    position: relative;
    left: -80px;
   }
   .p-4{
    font-size: 10px;
    position: relative;
    left: -30px;
   }

   .xz-2{
    position: relative;
    left: -100px;
   }
   .h2-5{
    font-size: 18px;
    position: relative;
    left: -170px;
    white-space: nowrap;
    top: 35px;
   }
   .img-99{
    position: relative;
    left: -220px;
    top: 30px;
   }
   .p-5{
    font-size: 10px;
    position: relative;
    left: -150px;
    white-space: nowrap;
    top: 35px;
   }

   .xz-3{
    position: relative;
    left: -100px;
   }
   .h2-6{
    font-size: 18px;
    position: relative;
    left: -290px;
    white-space: nowrap;
    top: 70px;
   }
   .img-100{
    position: relative;
    left: -330px;
    top: 70px;
   }
   .p-6{
    font-size: 10px;
    position: relative;
    left: -280px;
    white-space: nowrap;
    top: 70px;
   }
   .footer{
    width: 900px;
   }
    
}

@media (max-width: 376px) {

    .bt-1{
        margin-left: 70px;
        width: 173px;
    height: 48px;
    box-shadow: 10px 10px 25px -10px #36536B40;
    background-color:  #BA4270;
    color: white;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 25px;
   font-size: 15px;
   
    }
    .a-1{
        font-size: 20px;
        margin-left: 50px;
    }
    .a-2{
        font-size: 20px;
        margin-left: 50px;
    }
    .a-3{
        font-size: 20px;
        margin-left: 50px;
    }
    .container-2{
        width: 800px;
    }
    .h2-2{
        white-space: nowrap;
    }
    .p-2{
        white-space: nowrap;
    }
    .h2-4{
        white-space: nowrap;
    }
    .p-4{
        white-space: nowrap;
    }

    .footer{
        width: 800px;
    }
}